parameters:
    level: 3
    paths:
        - src/
    excludePaths:
        - src/tests/
        - src/resources/
    ignoreErrors:
        - '#Call to an undefined static method Blashbrook\\PAPIClient\\PAPIClient::authenticatedPatronRequest\(\)\.#'
        - '#Call to static method where\(\) on an unknown class Blashbrook\\PAPIClient\\PendingUpdate\.#'
        - '#Call to an undefined static method Blashbrook\\PAPIClient\\Models\\PostalCode::find\(\)\.#'
        - '#Call to an undefined method Illuminate\\Contracts\\View\\View::layout\(\)\.#'
