parameters:
    level: 3
    paths:
        - src/
    excludePaths:
        - src/tests/
        - src/resources/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\.*#'
